@import "compass";
@import "../bower_components/susy/sass/susy"; // Including susy manually so we can use the Bower version
@import "CSS:../bower_components/normalize.css/normalize"; // Importing css file using sass-css-importer gem

@import 'modules/_colors';
@import 'modules/_mixins';
@import 'modules/_fonts';


/* LAYOUT
----------------------------------------------- */
body {
	background: $bgColor;
	color: $textColor;
}

$susy: (
  columns: 12,
  column-width: 70px,
  container: auto,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
  debug: (
    image: show-columns,
    color: rgba(#000, .25),
    output: overlay,
    toggle: top right,
  ),
);

.container {
	@include container;
}

.half {
	@include span(6 wide of 12);

	&:first-child {
		border-right: 1px solid $lineColor;
	}
}

.third {
	@include span(4 wide of 12); 

	&:first-child, &:nth-child(2) {
		border-right: 1px solid $lineColor;
	}
}


section {
	text-align: center;
}


.row {
	border-top: 1px solid $lineColor;
	@include span(12 wide of 12 last);
}

/* HERO
----------------------------------------------- */
.head {
	background: #fff url('/images/map-bg.png') no-repeat right 0;
	display: inline-block;
	width: 100%;
}

header {
	h1, p {
		color: $bgColor;
	}

	p {
		color: #353e42;
		margin: 0;

		@extend %serifFont;
		@include type-size(1.4, 2.2);
	}
}

.lead {
	@include column-count(2);
	@include span(9 wide of 12);
	@include px-to-rem(margin-bottom, 9);
}

h1 {
	font-weight: 900;
	text-transform: uppercase;

	@extend %primaryFont;
	@include type-size(9, 7.1);
	@include px-to-rem(padding-top, 6);
	// @include px-to-rem(padding-top, 3);
}

/* STATS
----------------------------------------------- */
.label {
	color: $dimText;
	text-transform: uppercase;

	@include type-size(1.6);
}

.value {
	color: $accentColor;
	font-weight: 700;
	letter-spacing: -.03em;

	@extend %secondaryFont;
	@include type-size(12.8);

	span {
		font-weight: 400;
		letter-spacing: 0;
		
		@include type-size(3.3);
	}
}