/**
 * Proxima Nova through Typekit
 * 
 * Light: 300
 * Regular: 400
 * Bold: 700
 * Extrabold: 800
 * Black: 900
 */

$primaryFont: "proxima-nova";

%primaryFont {
	font-family: $primaryFont, helvetica, arial, sans-serif;
}


/**
 * Nimbus Sans Condensed
 * 
 * Regular: 400
 * Bold: 700
 * Extra Bold: 800
 */

// $secondaryFont: "proxima-nova-alt-ext-cond";
// $secondaryFont: "nimbus-sans-condensed";
$secondaryFont: "din-condensed-web";

%secondaryFont {
	font-family: $secondaryFont, helvetica, arial, sans-serif;
}

/**
 * Georgia
 * 
 */

%serifFont {
	font-family: georgia, serif;
}